.main-container {
  width: 100%;
  overflow-x: hidden;
}


.yourprofile {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 30px;
  margin-top: 50px;
}

.profile-info {
  display: flex;
  flex-direction: column;
  left: 10px;
  gap: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  padding: 50px 50px 50px 70px;
  width: 300px;
  border-radius: 20px;
  background-color: white;

  h2 {
    font-size: 28px;
  }
  a {
    color: #03a8da;
  }



}

.books-amount {
  background-color: #03a8da;
  color: white;
  width: 200px;
  height: 100px;
  padding: 20px;
  gap: 20px;
  box-shadow: rgba(149, 157, 165, 0.2) 0px 8px 24px;
  border-radius: 20px;
  font-size: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;

}

.favourite-books {
  padding-top: 50px;

  h2 {
    display: flex;
    justify-content: center;
    font-size: 26px;
  }

  .carousel-track-container {
    width:280px;
  }
}

.favourite-book-slide {
  flex: 1 0 auto;
  list-style: none;
  margin: 20px;
  text-align: center;
}

.favourite-book-slide .book-card {
  padding: none;
  box-shadow: none;
  background-color: transparent;

  p {
    display: none;
  }

  h4 {
    display: none;
  }

  a {
    color: black;
    text-decoration: none;
  }
  img {
    width: 220px;
    height: auto;
  }
}

.book-titles {
  display: flex;
  justify-content: center;
  font-size: 20px;
  margin-top: 20px;
  background-color: #FFF8EA;
  margin-top: 50px;
  padding-top: 40px;
  padding-bottom: 20px;
}


.books-container {
 display: flex;
 justify-content: center;
 align-items: center;
 flex-direction: column;
 gap: 10px;
 background-color: rgb(246, 246, 232);
 margin-bottom: -100px;
 background-color: #FFF8EA;

}
.personal-book .book-card {
  padding: none;
  box-shadow: none;
  background-color: transparent;

  p {
    display: none;
  }

  h4 {
    display: none;
  }

  a {
    color: black;
    text-decoration: none;
  }
  img {
    width: 200px;
    height: auto;
  }
}

@media (min-width: 650px) and (max-width: 1024px) {
  .books-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .yourprofile {
    flex-direction: row;
  }

  .profile-info {
    width: 80vw;
    margin-left: 50px;

    h2 {
      display: flex;
      justify-content: flex-end;
      font-size: 28px;
    }

    p {
      font-size: 18px;
    }

    img {
    margin-top: -90px;
  }
  }


  .favourite-books {
  padding-top: 50px;

  h2 {
    font-size: 28px;
  }

  .carousel-track-container {
    width:800px;
  }
}
}

@media (width > 1025px) {
  .books-container {
    flex-direction: row;
    flex-wrap: wrap;
  }

  .personal-book .book-card {
    width: 280px;
  }
  .yourprofile {
    flex-direction: row;
  }

  .profile-info {
    width: 90vw;
    margin-left: 70px;

    h2 {
      display: flex;
      justify-content: flex-end;
      font-size: 32px;
    }

    p {
      font-size: 20px;
    }

    img {
    margin-top: -90px;
  }
  }

  .favourite-books {

  h2 {
    font-size: 35px;
  }

  .carousel-track-container {
    width:90vw;
  }
}
}